body{
background-image: url("Media-sponsorer/Landingpage-Background.jpg");
background-size: cover;
}
a:hover:enabled h1{

}
a h2:hover{
color: grey;
}
Header{
width: 100%;
height: 8.5%;
left: 0%;
margin-top: -1%;
position: absolute;
}
.Headerbox-Background{
width: 100%;
height: 100%;
position: absolute;
background-color: black;
opacity: 0.50;
}
h2{
float: left;
text-decoration: none;
font-family: impact;
font-size: 1vw;
color: white;
}
.Home-Button{
width: 5%;
height: 5%;
position: absolute;
padding-top: 1%;
padding-left: 2%;
}
.Home-Button h2{
padding-left: 1%;
padding-right: 10%;
}
.Button-Box{
width: 50%;
height: 100%;
position: absolute;
padding-top: 1%;
right: 0%;
}
.Button-Box h2{
width: auto;
height: 100%;
float: left;
padding-left: 10%;
}
.SubzeroCenterBox{
width: auto;
height: auto;
left: 50%;
position: absolute;
}
.Sponsorer{
  width: 33%;
  height: 91.5%;
  left: 33%;
  top: 8%;
  background-color: red;
  position: absolute;
}
.dropbtn {
  background-image: url("Media-sponsorer/open-menu-01-512.png");
  background-size: cover;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10%;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
background-color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
